<!DOCTYPE html>
<html>
@*
    using the following uri as a template to build the assignment html page
    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_store&stacked=h
*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DSED_FINAL</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @*  Custom css style sheet for the basic layout of a html page *@
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .nav {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
        }

        /* Add a gray background color and some padding to the footer
        footer {
            background-color: #f2f2f2;
            padding: 5px;
        }  */

        /* All page, all elements use the same following fonts family  */
        .panel-heading {
            font-size: 14pt;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        /*
        .btn-info {
            font-size: 12pt;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        */
        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
        }

        h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        /*
            Turning Links Into Buttons in CSS
            https://resource-centre.net/css3-tutorials/turning-links-into-buttons/
        */


        /* format the table heading and body */
        .table > thead > tr > th {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            vertical-align: middle;
            text-align: center;
            font-size: 16px;
        }

        /* https://stackoverflow.com/questions/27747072/vertical-align-in-bootstrap-table */
        .table > tbody > tr > td {
            vertical-align: middle;
            text-align: center;
        }

        #action_link {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            color:midnightblue;
        }
    </style>

</head>

<body>
    <nav class="nav navbar-fixed-top alert-success">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <span style="color:black;font-size:14pt">
                        Home
                    </span>
                </a>
                <a class="navbar-brand"><span style="font-size:22pt">&nbsp;&nbsp;A.I.M Systems</span></a>
            </div>
            
        </div>
    </nav>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer id="footer_id">
            <p><span style="color:Black;font-size:12pt">&copy; 2017 DSED FINAL Assignment by <a href="mailto:kiwizen.code@hotmail.com">Keum-Hong, Lim</a></span></p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
