<!-- Create a panel to hold all elements in the page -->
<div class="panel panel-primary">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h4>
                        <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#inputModal"
                               (click)="createData()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        &nbsp;&nbsp; System Table
                     </h4>
                </div>
            </div>

        </div>
    </div>
    <!-- How to make panel-heading fixed with Bootstrap? -->
    <!-- https://stackoverflow.com/questions/35418358/how-to-make-panel-heading-fixed-with-bootstrap -->
    <!-- Panel Body -->
    <div class="panel-body" style="padding:0;border:0px;height:450px;overflow-y:auto">
        <p *ngIf="!records"><em>Loading...</em></p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of records">
                    <td>{{ data.idPk }}</td>
                    <td>{{ data.value }}</td>
                    <td>{{ data.text }}</td>
                    <!-- set the column to just fit contents-->
                    <td style="width:1%;white-space:nowrap">
                        <div>
                            <!-- Edit Button -->
                            <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#inputModal"
                               (click)="editData(data.idPk)">
                                <span class='glyphicon glyphicon-pencil'></span>
                            </a>
                            <!--<a class="btn btn-primary btn-sm">
                                <span class='glyphicon glyphicon-search'></span>
                            </a>-->
                            <a class="btn btn-danger btn-xs">
                                <span class='glyphicon glyphicon-trash'></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>            
        </table>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
    </div>
</div>

<div class="container-fluid">
    <!-- Modal Input Form -->
    <div class="modal fade" id="inputModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="modalForm">
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <div>
                                <span>Value</span>
                                <input type="text" class="form-control" placeholder="Enter Value" formControlName="value">
                            </div>
                            <div>
                                <span>Value</span>
                                <input type="text" class="form-control" placeholder="Enter Text" formControlName="text">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <button class="btn btn-primary" data-dismiss="modal">{{modalButtonTitle}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
