################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v0.2/MQMSWebApp/bin/Debug/netcoreapp2.0
