<div class="nav navbar-static-top alert-success" style="font-family:'Bookman Old Style'">      
    <a class='navbar-brand' [routerLink]="['/home']">
        <div style="float:left;font-size:38px;padding-top:10px;">
            &nbsp;{{pageTitle}}
        </div>
    </a>
    <!-- https://techwelkin.com/put-two-div-side-by-side -->
    <div class="container" style="padding-left:0px;padding-right:0px">
        <!-- pad with empty space between div-->
        <div style="float:left;padding:5px;">&nbsp;&nbsp;</div>            
        <div style="float:left;padding-top:8px;width:230px;text-align:center">
            <p><span style="color:black;font-size:24px;">DSED Final Project</span>
            <span style="color:black;font-size:12px;">Angular + .NET Core WEb API </span></p>
        </div>                      
    </div>
</div>