<div class="nav navbar-static-top alert-success">      
    <a class='navbar-brand' [routerLink]="['/home']">
        <div style="float:left">
            {{pageTitle}}
        </div>
    </a>
    <!-- https://techwelkin.com/put-two-div-side-by-side -->
    <div class="container" style="padding-left:0px;padding-right:0px">
        <!-- pad with empty space between div-->
        <div style="float:left;padding:5px;">&nbsp;&nbsp;</div>            
        <div style="float:left;padding-top:8px">
            <span style="color:black;font-size:24px;">DSED Final Project</span>
        </div>                      
    </div>
</div>