<div class="nav navbar-static-top alert-success" style="font-family:'Bookman Old Style'">
    <a class='navbar-brand' [routerLink]="['/home']">
        <div style="float:left;width:100px;text-align:center">
            <p>
                <span style="font-size:38px;">{{pageTitle}}</span>
                <span style="color:black;font-size:8px;">Version 0.5</span>
            </p>
        </div>
    </a>
    <!-- Place <div> side by side 
        https://techwelkin.com/put-two-div-side-by-side -->
    <div class="container">
        <!-- pad with empty space between div-->
        <div style="float:left;padding:5px;">&nbsp;&nbsp;</div>            
        <div style="float:left;width:230px;text-align:center;padding-top:5px">
            <p>
                <span style="color:black;font-size:24px;">DSED Final Project</span>
                <span style="color:black;font-size:12px;">Angular + .NET Core Web API </span>
            </p>
        </div>                      
    </div>
</div>