<div class='nav alert-success'>
    <div class='navbar-header'>
        <ul class='nav navbar-nav'>
            <li [routerLinkActive]="['link-active']">
                <a class="navbar-brand" [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>

            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/counter']">
                    <span class='glyphicon glyphicon-education'></span> Counter
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/fetch-data']">
                    <span class='glyphicon glyphicon-th-list'></span> Fetch data
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/mpispecies']">
                    <span class='glyphicon glyphicon-th-list'></span> MPI Speices
                </a>
            </li>
        </ul>
    </div>
</div>