@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading text-center" style="font-size:24px;">Menu 1</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg"
                        onclick="location.href='@Url.Action("Index", "QuarantinePeriods")'">
                    Quarantine Period
                </button>

            </div>
        </div>
    </div>
</div>