<div class="form-group" [formGroup]="modalForm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">
                    {{DialogCaption}}
                </h4>                
            </div>
            <div class="modal-body">
                <div>
                    <!-- Invoice Date -->
                    <p><span>&nbsp;Date</span></p>
                    <input type="datetime-local" class="form-control" formControlName="date" name="date">
                </div>
                <br />
                <div>
                    <p><span>&nbsp;Supplier Name</span></p>
                    <!--
                    <input type="datetime-local" class="form-control" formControlName="date" name="date"> -->
                    <!-- Angular 2 Bind DropDown List Using Web API -->
                    <!-- http://www.c-sharpcorner.com/article/angular-2-bind-dropdown-list-using-web-api/ -->
                    <select class="form-control" formControlName="supplierFk" name="supplierFk">
                        <option *ngFor="let item of suppliers" value={{item.idPk}}>{{item.name}}</option>
                    </select>
                </div>
                <br />
                <div>
                    <p><span>&nbsp;Flight Detail</span></p>
                    <input type="text" class="form-control" formControlName="flightNo" name="flightNo">
                </div>
                <br />   
                <div>
                    <p><span>&nbsp;Date of Arrival</span></p>
                    <input type="datetime-local" class="form-control" formControlName="doa" name="doa">
                </div>
                <br />
                <div>
                    <p><span>&nbsp;Quantity</span></p>
                    <input type="text" class="form-control" formControlName="total" name="total">
                </div>                                                               
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <button class="btn btn-primary" (click)="onSubmit()"
                        data-dismiss="modal" >
                        <!-- [disabled]="modalForm.invalid" -->
                    {{ButtonCaption}}
                </button>                
            </div>
        </div>
    </div>
</div>