<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;font-size:24px;">Shipment Order</div>
            <div class="panel-body" >

                <!--<button class="btn-primary btn-block btn-lg"
                        (click)="router.navigate(['petsize'], {relativeTo: route});">
                    Spieces Size
                </button>-->
                <!--<button class="btn-primary btn-block btn-lg"
                    ng-click="location.href='#/system/petsize'" >Spieces Size
                </button>-->
                <a class="navbar-brand" [routerLink]="['/system/petsize']">
                    <span class='glyphicon glyphicon-home'></span> Spieces Size
                </a>
                <!--<button class="btn-primary btn-block btn-lg"
                        ng-click="location.path('/system/petsize')" >Spieces Size
                </button>-->
                <!--<button class="btn-primary btn-block btn-lg">
                    Tank Log Registry onclick="location.href='#/system/petsize"
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Daily Mortilty Registry
                </button>-->
            </div>
        </div>
    </div>
</div>
