<div class="row">
    <div class="col-sm-4">
        <!-- Create a panel to hold all elements in the page -->
        <div class="panel panel-info">
            <!-- Panel Heading -->
            <div class="panel-heading text-center">
                System
            </div>
            <!-- Panel Body -->
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/system/species']">MPI Species</button>
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/system/quarantine-period']">Quarntine Period</button>
            </div>
            <!-- Panel Footer -->
            <!--<div class="panel-footer">
            </div>-->
        </div>
    </div>    
</div>