<div class="row">
    <div class="col-sm-4">
        <!-- Create a panel to hold all elements in the page -->
        <div class="panel panel-info">
            <!-- Panel Heading -->
            <div class="panel-heading text-center">Public</div>
            <!-- Panel Body -->
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/public/species']">Approved Speices List</button>
            </div>
            <!-- Panel Footer --><!--<div class="panel-footer"></div>-->
        </div>
    </div>
    <div class="col-sm-4">
        <!-- Create a panel to hold all elements in the page -->
        <div class="panel panel-info">
            <!-- Panel Heading -->
            <div class="panel-heading text-center">Import Registry</div>
            <!-- Panel Body -->
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/invoices']">Invoices</button>
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/invoice/details']">Invoice Details</button>
            </div>
            <!-- Panel Footer --><!--<div class="panel-footer"></div>-->
        </div>
    </div>
    <div class="col-sm-4">
        <!-- Create a panel to hold all elements in the page -->
        <div class="panel panel-info">
            <!-- Panel Heading -->
            <div class="panel-heading text-center">Support File</div>
            <!-- Panel Body -->
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg" [routerLink]="['/suppliers']">Supplier</button>
            </div>
            <!-- Panel Footer --><!--<div class="panel-footer"></div>-->
        </div>
    </div>
</div>