<!-- Panel Template -->
<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading text-left">
        <!-- https://techwelkin.com/put-two-div-side-by-side -->
        <!-- Display a plus sign and page title on the left corner of the panel heading -->
        <div class="container" style="padding-left:0px;padding-right:0px">
            <div style="float:left">
                <a class="btn btn-warning btn-ms" (click)="createData()"
                    data-toggle="modal" data-target="#inputModal">
                    <!-- Display plus sign symbol as Create icon -->
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <!-- pad with empty space between div-->
            <div style="float:left;padding:5px;">&nbsp;&nbsp;</div>
            <!-- Display the title of the page -->
            <div style="float:left">
                <span style="font-size:22px;">{{pageTitle}} </span>
            </div>
        </div>
    </div>

    <!-- How to make panel-heading fixed with Bootstrap? -->
    <!-- https://stackoverflow.com/questions/35418358/how-to-make-panel-heading-fixed-with-bootstrap -->
    <!-- Panel Body -->
    <div class="panel-body" style="padding:0;border:0px;height:100%;overflow-y:auto">

        <!-- Display the message 'Loading' on the page while waiting for data to be sent from back-end -->
        <p *ngIf="!alldata"><em>&nbsp;&nbsp;Loading...</em></p>

        <!-- Display records in a table -->
        <table class="table table-bordered table-striped table-responsive" *ngIf='alldata'>
          <!-- Table Heading -->
          <thead>
              <tr>
                  <th>Action</th>                    
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Fax</th>
              </tr>
          </thead>
          <!-- Table Body -->
          <tbody>
              <tr *ngFor="let data of alldata" >
                  <!-- Display Edit / Delete buttons on the 1st column of the table -->
                  <!-- set the column to just fit contents-->
                  <td style="width:1%;white-space:nowrap">
                      <div>
                          <!-- Edit Button -->
                          <a class="btn btn-success btn-xs" (click)="editData(data)"
                                data-toggle="modal" data-target="#inputModal">
                                <!-- Display pencil symbol as Edit icon -->
                                <span class='glyphicon glyphicon-pencil'></span>
                          </a>
                          <!-- Delete Button --> 
                          <a class="btn btn-danger btn-xs" (click)="deleteData(data)"
                                data-toggle="modal" data-target="#inputModal">
                                <!-- Display trash can symbol as Delete icon -->
                                <span class='glyphicon glyphicon-trash'></span>
                          </a>
                      </div>
                  </td>                    
                  <td>{{ data.idPk }}</td>
                  <td>{{ data.name }}</td>
                  <!-- do not show null when concatenate string -->
                  <!-- https://stackoverflow.com/questions/22782107/dont-show-null-when-concatenating-strings-in-angularjs  -->
                  <td>{{ (data.address01||'') + ' ' + (data.address02||'') + ' ' + (data.address03||'') }}</td>
                  <td>{{ data.phone }}</td>
                  <td>{{ data.fax }}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <!-- Panel Footer 
    <div class="panel-footer"></div> -->
</div>
<!-- data modal input form -->
<div class="modal fade" id="inputModal" role="dialog">
    <supplier-detail
        [DialogCaption]="DialogCaption"
        [ButtonCaption]="ButtonCaption"
        [data]="selected"
        (Click)="onSubmit($event)"></supplier-detail>
        <!-- [modalForm]="modalForm" -->
</div>
