<!-- data modal input form -->
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">
            <!--
            <supplier-detail [supplier]="selectedSupplier"></supplier-detail>
            -->
            <body>
                
            </body>
        </div>
        <div class="modal-footer">
            <div>
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <button  class="btn btn-primary"
                        data-dismiss="modal" (click)="onSubmit()">
                    {{modalButtonTitle}}
                </button>
            </div>
        </div>
    </div>
</div>