<div class="nav navbar-static-top alert-success">      
    <a class='navbar-brand' [routerLink]="['/home']">
        <!-- https://techwelkin.com/put-two-div-side-by-side -->
        <div class="container" style="padding-left:0px;padding-right:0px">
            <div style="float:left">
                {{pageTitle}}
            </div>
            <!-- pad with empty space between div-->
            <div style="float:left;padding:5px;">&nbsp;&nbsp;</div>            
            <div style="float:left">
                <span style="color:black;font-size:24px;
                    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">DSED Final Project</span>
            </div>                      
        </div>
        
    </a>          
</div>